
.project
.settings/
.DS_Store
.metadata/
*.vscode
*.factorypath

catclinic-server/.classpath
catclinic-server/target
catclinic-web/.classpath
catclinic-web/target/

catclinic-web/src/main/web/.editorconfig
catclinic-web/src/main/web/dist
catclinic-web/src/main/web/node
catclinic-web/src/main/web/node_modules
catclinic-web/src/main/web/e2e/*.js
catclinic-web/src/main/web/e2e/*.map