<div class="row" *ngIf="(response$ | async) as response">
    <div class="col-md-6 offset-md-3">
        <div><h3>View Appointment</h3></div>
        <form>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="form-group form-inline">
                        <label for="" class="col-md-5 control-label justify-content-start text-muted">Patient Name</label>
                        <!-- <div class="col-md-">
                            <button class="btn btn-link" [routerLink]="['/patients', appointment.patient.id, 'view']">{{appointment.patient.firstName + ' ' + appointment.patient.lastName }}</button>
                        </div> -->
                        <a class="col-md-7 form-control-plaintext btn-link" [routerLink]="['/patients', response.patient.id, 'view']">{{response.patient.firstName + ' ' + response.patient.lastName }}</a>
                    </div>
                    <div class="form-group form-inline">
                        <label for="" class="col-md-5 control-label justify-content-start text-muted">Date of Birth</label>
                        <input type="text" class="form-control-plaintext col-md-7" readonly [value]="response.patient.birthDate | date : 'mediumDate'">
                    </div>
                    <div class="form-group form-inline">
                        <label for="" class="col-md-5 control-label justify-content-start text-muted">Appointment Date</label>
                        <input type="text" class="form-control-plaintext col-md-7" readonly [value]="response.createdDate | date : 'medium'">
                    </div>
                    <div class="form-group form-inline">
                        <label for="" class="col-md-5 control-label justify-content-start text-muted">Appointment Status</label>
                        <span class="ml-3 badge" 
                            [ngClass]="{'badge-info': response.status === 'Pending',
                                    'badge-warning': response.status === 'For Payment',
                                    'badge-success': response.status === 'Paid',
                                    'badge-danger': response.status === 'Cancelled'}">
                                    {{response.status}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-inline">
                        <label for="" class="col-md-5 control-label justify-content-start text-muted">Gender</label>
                        <input type="text" class="form-control-plaintext col-md-7" readonly [value]="response.patient.gender.value">
                    </div>
                    <div class="form-group form-inline">
                        <label for="" class="col-md-5 control-label justify-content-start text-muted">Address</label>
                        <input type="text" class="form-control-plaintext col-md-7" readonly [value]="'Block 8 Pag-asa Extension City Heights'">
                    </div>
                    <div class="form-group form-inline">
                        <label for="" class="col-md-5 control-label justify-content-start text-muted">Last Modified</label>
                        <input type="text" class="form-control-plaintext col-md-7" readonly [value]="response.lastModifiedDate | date : 'medium'">
                    </div>
                    <div class="form-group form-inline">
                        <label for="" class="col-md-5 control-label justify-content-start text-muted">Amount Paid</label>
                        <input type="text" class="form-control-plaintext col-md-7" readonly [value]="'₱ ' + (response.amountPaid ? response.amountPaid : 0)">
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h5><label for="">Subjective</label></h5>
                        <textarea class="form-control" readonly type="text" rows="5">{{response.subjective}}</textarea>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h5><label for="">Objective</label></h5>
                        <textarea class="form-control" readonly type="text" rows="5">{{response.objective}}</textarea>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h5><label for="">Assessment</label></h5>
                        <div>
                            <h5><span class="badge badge-pill badge-secondary" *ngFor="let d of response.assessment">{{d.name}}</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12">
                    <h5><label for="">Plan</label></h5>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="">Procedure</label>
                            <h5><span class="badge badge-pill badge-secondary" *ngFor="let p of response.procedures">{{p.name}}</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>&#8478; Prescription</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row" *ngFor="let prescription of response.prescription">
                                        <input type="text"class="form-control-plaintext col-md-3 border-bottom" value="{{prescription.medicine}}">
                                        <input type="text"class="form-control-plaintext col-md-9 border-bottom" value="{{prescription.instructions}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary mr-1" (click)="goBack()">Back</button>
                    <!-- <button type="button" class="btn btn-success mr-1" *ngIf="appointment?._links.diagnose" (click)="onSaveDiagnosis()">Save Diagnosis</button>
                    <button type="submit" class="btn btn-success">Save</button> -->
                </div>
            </div>
        </form>
    </div>
</div>