<div class="row">
    <div class="col-md-6 offset-md-3">
        <div *ngIf="editMode; else elseBlock"><h3>Edit Appointment</h3></div>
        <ng-template #elseBlock><h3>Add Appointment</h3></ng-template>
        <form [formGroup]="conditionForm" (ngSubmit)="onSubmit()">
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label required" for="">Patient</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search Patient's Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="button">Add Patient</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Notes</label>
                        <textarea class="form-control" type="text" rows="7" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Conditions</label>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary mr-1" (click)="goBack()">Back</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>