<div class="row">
    <div class="col-md-6 offset-md-3">
        <div *ngIf="editMode; else elseBlock"><h3>Edit Appointment</h3></div>
        <ng-template #elseBlock><h3>Add Appointment</h3></ng-template>
        <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <ng-template #rt let-r="result" let-t="term">
                            <ngb-highlight [result]="r.firstName + ' ' + r.lastName" [term]="t"></ngb-highlight>
                        </ng-template>
                        <label for="typeahead-http">Patient</label>
                        <div class="input-group mb-3">
                            <input id="typeahead-http" type="text" class="form-control" 
                                formControlName="patient"
                                (selectItem)="setModel($event)"
                                name="patient" 
                                [ngbTypeahead]="searchA" 
                                placeholder="Patient's Name" 
                                [resultTemplate]="rt"
                                [inputFormatter]="formatter"
                                [editable]="false"
                                [ngClass] ="{'is-invalid' : f.patient.touched && f.patient.invalid}"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-success rounded-right" type="button" routerLink="/patients/new"><span class="oi oi-plus"></span>&nbsp;Add Patient</button>
                            </div>
                            <div *ngIf="f.patient.touched && f.patient.invalid" class="invalid-feedback d-block">
                                <div *ngIf="f.patient.touched && f.patient.invalid">Patient is required. If the patient does not exist, you have to create a Patient first.</div>
                            </div>
                        </div>  
                    </div>             
                </div>
            </div>  
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Notes</label>
                        <textarea formControlName="notes" class="form-control" type="text" rows="7"></textarea>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Diagnoses</label>
                        <tag-input 
                            [(ngModel)]="diagnoses"
                            [ngModelOptions]="{standalone: true}"
                            [placeholder]="'Enter a new Condition'"
                            [onTextChangeDebounce]="500"
                            [secondaryPlaceholder]="'Search Condition'"
                            [onlyFromAutocomplete]="true">
                            <tag-input-dropdown
                                [autocompleteObservable]="requestConditions"
                                [minimumTextLength]="1"
                                [displayBy]="'name'"
                                [identifyBy]="'id'">
                                <!-- <ng-template let-item="item" let-index="index">
                                    {{ item.name }}
                                </ng-template> -->
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary mr-1" (click)="goBack()">Back</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>