<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="row mb-3">
            <div class="col-md-12 d-flex justify-content-between">
                <h3>Appointments</h3>
                <button class="btn btn-success btn-sm" routerLink="./new"><span class="oi oi-plus"></span>&nbsp;Add Appointment</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bg-light">
                    <div class="form-group form-inline justify-content-between" >
                        <div class="input-group m-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Appointment Date</label>
                            </div>
                            <input class="form-control" type="date" [(ngModel)]="searchDate">
                        </div>
                        <div class="m-3">
                            <input class="form-control" type="text" size="25" [(ngModel)]="searchName" placeholder="Search Patient Name">
                        </div>
                        <div class="input-group m-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="statusSelect">Appointment Status</label>
                            </div>
                            <select class="custom-select" id="statusSelect" [(ngModel)]="searchStatus">
                                <option [ngValue]="statusOption" *ngFor="let statusOption of statusOptions">{{ statusOption.display }}</option>
                            </select>
                        </div>
                        <div class="input-group m-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="sortBySelect">Sort By</label>
                            </div>
                            <select class="custom-select" id="sortBySelect" [(ngModel)]="sortBy">
                                    <option [ngValue]="sortOption" *ngFor="let sortOption of sortOptions">{{ sortOption.display }}</option>
                            </select>
                        </div>
                        <div class="btn-toolbar m-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button class="btn btn-outline-secondary" (click)="onRemoveFilter()"><span class="oi oi-delete"></span>&nbsp;Remove Filters</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Second group">
                                <button class="btn btn-secondary" (click)="onSearch()"><span class="oi oi-magnifying-glass"></span>&nbsp;Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 15%" data-toggle="tooltip" data-placement="bottom" title="dd/mm/yyyy">Appointment Date</th>
                    <th scope="col" style="width: 15%">Patient Name</th>
                    <th scope="col" style="width: 30%">Conditions</th>
                    <th scope="col" style="width: 10%">Status</th>
                    <th scope="col" style="width: 10%">Amount Paid</th>
                    <th scope="col" style="width: 20%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of (response$ | async)?._embedded.appointments">
                    <td>{{appointment.createdDate | date: 'dd/MM/yyyy h:mm a' }}</td>
                    <td>{{appointment.patient.firstName}} {{appointment.patient.lastName}}</td>
                    <td>
                        <h5><span class="badge badge-pill badge-secondary" *ngFor="let d of appointment.diagnoses">{{d.name}}</span></h5>
                    </td>
                    <td>
                        <h5>
                            <span class="badge" 
                                [ngClass]="{'badge-info': appointment.status === 'Pending',
                                            'badge-warning': appointment.status === 'For Payment',
                                            'badge-success': appointment.status === 'Paid',
                                            'badge-danger': appointment.status === 'Cancelled'}">
                                {{ appointment.status }}
                            </span>
                        </h5>
                    </td>
                    <td >₱&nbsp;{{appointment.amountPaid ? appointment.amountPaid : 0}}</td>
                    <td class="d-flex justify-content-end">
                        <button class="btn btn-light btn-sm mr-1" routerLink="./{{appointment.id}}/view"><span class="oi oi-eye"></span>&nbsp;View</button>
                        <button class="btn btn-primary btn-sm mr-1" routerLink="./{{appointment.id}}/diagnose" *ngIf="appointment._links.diagnose"><span class="oi oi-clipboard"></span>&nbsp;Diagnose</button>
                        <button class="btn btn-primary btn-sm mr-1" *ngIf="appointment._links.pay" (click)="openPayModal(appointment)"><span class="oi oi-dollar"></span>&nbsp;Pay</button>
                        <button class="btn btn-danger btn-sm" *ngIf="appointment._links.cancel" (click)="openCancelModal(appointment)"><span class="oi oi-circle-x"></span>&nbsp;Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row" *ngIf="(response$ | async) as response">
            <div class="col-md-6 align-items-center">
                <span>Showing {{(response.page.number * response.page.size) + 1}} 
                    to {{(response.page.number * response.page.size) + response._embedded.appointments.length}} 
                    of {{response.page.totalElements}} records
                </span>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <ngb-pagination 
                    (pageChange)="getPageFromService($event)"
                    [collectionSize]="response.page.totalElements"
                    [pageSize]="response.page.size"
                    [page]="0" 
                    [maxSize]="5" 
                    [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
    </div>